{% extends "layout.html" %}

{% block content %}


<div id="profile-manage" style="min-height: 100vh;" class="container-fluid bg-black d-flex flex-column justify-content-center align-items-center text-white">

    <div id="manage" class="d-flex flex-column justify-content-center align-items-center w-100">
            <h2 class="fs-1 text-start w-25">Edit Profile</h2>
           
            <hr>
                <form class="mb-2" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form }}
                    <input type="submit" value="Kaydet" style="background-color: darkorange;" class="btn w-100 mt-3">
                </form>
            <hr>
            <a href="{% url "profiles_page" %}" class="btn btn-secondary w-25">Go back to Profiles!</a>
            <a href="{% url "profile_delete_page" profile.slug %}" class="btn btn-danger w-25 mt-3">Delete Profile!</a>
    </div>

</div>

{% endblock content %}
