{% load static %}
<div class="cizgi"></div>
<section class="bg-black py-5">
    <div class="container">
        <div class="row align-items-center text-white">
            <div class="col-lg-6 col-12 ">
                <h1 class="baslik">Televizyonda İzleyin</h1>
                <p class="content">Akıllı TV, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray oynatıcılar ve daha fazlasında seyredin.</p>
            </div>
            <div class="col-lg-6 col-12 ">
                <img src="{% static "img/resim1.png" %}" class="w-100" alt="">
            </div>
        </div>
    </div>
</section>
<div class="cizgi"></div>
<section class="bg-black py-5">
    <div class="container">
        <div class="row align-items-center text-white">
            <div class="col-lg-6 col-12 order-lg-0 order-1">
                <img src="{% static "img/resim2.jpg" %}" class="w-100" alt="">
            </div>
            <div class="col-lg-6 col-12 order-lg-1 order-0">
                <h1 class="baslik">Çevrimdışı izlemek için içerikleri indirin</h1>
                <p class="content">En sevdiğiniz içerikleri kolayca kaydedin ve her zaman izleyecek bir şeyleriniz olsun.</p>
            </div>
        </div>
    </div>
</section>
<div class="cizgi"></div>
<section class="bg-black py-5">
    <div class="container">
        <div class="row align-items-center text-white">
            <div class="col-lg-6 col-12">
                <h1 class="baslik">İstediğiniz her yerde izleyin</h1>
                <p class="content">Telefonda, tablette, bilgisayarda, televizyonda sınırsız film ve dizi izleyin.</p>
            </div>
            <div class="col-lg-6 col-12">
                <img src="{% static "img/resim3.png" %}" class="w-100" alt="">
            </div>
        </div>
    </div>
</section>
<div class="cizgi"></div>
<section class="bg-black py-5">
    <div class="container">
        <div class="row align-items-center text-white">
            <div class="col-lg-6 col-12 order-lg-0 order-1">
                <img src="{% static "img/resim4.png" %}" class="w-100" alt="">
            </div>
            <div class="col-lg-6 col-12 order-lg-1 order-0">
                <h1 class="baslik">Çocuklarınız için profiller oluşturun</h1>
                <p class="content">Üyeliğinize dâhil olan bu ücretsiz deneyim sayesinde çocuklarınız, sadece onlara özel bir alanda en sevdikleri karakterlerle maceralara atılabilir.</p>
            </div>
        </div>
    </div>
</section>
<div class="cizgi"></div>
<div class="sss bg-black py-4">
    <div class="container">
        <h1 class="text-white baslik text-center">Sıkça Sorulan Sorular</h1>
        <div class="my-2">
            <button class="acil">
                Netflix Nedir?
                <i class="fa-solid fa-plus"></i>
            </button>
            <div class="acilmis">
                <p>Netflix; internet bağlantılı binlerce cihazda ödüllü diziler, filmler, animeler, belgeseller ve daha fazlasını içeren geniş bir arşiv sunan bir streaming hizmetidir.
                <br><br>
                Tek bir reklam olmadan, istediğiniz kadar, istediğiniz zaman izleyebilirsiniz - hepsi aylık düşük bir ücret karşılığında. Her zaman keşfedilecek yeni bir şeyler var, üstelik her hafta yeni diziler ve filmler ekleniyor!</p>
            </div>
        </div>
        <div class="my-2">
            <button class="acil">
                Netflix'in Maliyeti Nedir?
                <i class="fa-solid fa-plus"></i>
            </button>
            <div class="acilmis">
                <p>Netflix; internet bağlantılı binlerce cihazda ödüllü diziler, filmler, animeler, belgeseller ve daha fazlasını içeren geniş bir arşiv sunan bir streaming hizmetidir.
                <br><br>
                Tek bir reklam olmadan, istediğiniz kadar, istediğiniz zaman izleyebilirsiniz - hepsi aylık düşük bir ücret karşılığında. Her zaman keşfedilecek yeni bir şeyler var, üstelik her hafta yeni diziler ve filmler ekleniyor!</p>
            </div>
        </div>
        <div class="my-2">
            <button class="acil">
                Nerede izleyebilirim?
                <i class="fa-solid fa-plus"></i>
            </button>
            <div class="acilmis">
                <p>Netflix; internet bağlantılı binlerce cihazda ödüllü diziler, filmler, animeler, belgeseller ve daha fazlasını içeren geniş bir arşiv sunan bir streaming hizmetidir.
                <br><br>
                Tek bir reklam olmadan, istediğiniz kadar, istediğiniz zaman izleyebilirsiniz - hepsi aylık düşük bir ücret karşılığında. Her zaman keşfedilecek yeni bir şeyler var, üstelik her hafta yeni diziler ve filmler ekleniyor!</p>
            </div>
        </div>
        <div class="my-2">
            <button class="acil">
                Nasıl iptal edebilirim?
                <i class="fa-solid fa-plus"></i>
            </button>
            <div class="acilmis">
                <p>Netflix; internet bağlantılı binlerce cihazda ödüllü diziler, filmler, animeler, belgeseller ve daha fazlasını içeren geniş bir arşiv sunan bir streaming hizmetidir.
                <br><br>
                Tek bir reklam olmadan, istediğiniz kadar, istediğiniz zaman izleyebilirsiniz - hepsi aylık düşük bir ücret karşılığında. Her zaman keşfedilecek yeni bir şeyler var, üstelik her hafta yeni diziler ve filmler ekleniyor!</p>
            </div>
        </div>
        <div class="my-2">
            <button class="acil">
                Netflix'te ne izleyebilirim?
                <i class="fa-solid fa-plus"></i>
            </button>
            <div class="acilmis">
                <p>Netflix; internet bağlantılı binlerce cihazda ödüllü diziler, filmler, animeler, belgeseller ve daha fazlasını içeren geniş bir arşiv sunan bir streaming hizmetidir.
                <br><br>
                Tek bir reklam olmadan, istediğiniz kadar, istediğiniz zaman izleyebilirsiniz - hepsi aylık düşük bir ücret karşılığında. Her zaman keşfedilecek yeni bir şeyler var, üstelik her hafta yeni diziler ve filmler ekleniyor!</p>
            </div>
        </div>
        <div class="my-2">
            <button class="acil">
                Netflix çocuklar için uygun mudur?
                <i class="fa-solid fa-plus"></i>
            </button>
            <div class="acilmis">
                <p>Netflix; internet bağlantılı binlerce cihazda ödüllü diziler, filmler, animeler, belgeseller ve daha fazlasını içeren geniş bir arşiv sunan bir streaming hizmetidir.
                <br><br>
                Tek bir reklam olmadan, istediğiniz kadar, istediğiniz zaman izleyebilirsiniz - hepsi aylık düşük bir ücret karşılığında. Her zaman keşfedilecek yeni bir şeyler var, üstelik her hafta yeni diziler ve filmler ekleniyor!</p>
            </div>
        </div>


        <p class="text-center text-white fs-4 my-5">İzlemeye hazır mısınız? Üye olmak ya da hesabınıza tekrar ulaşmak için tek yapmanız gereken e-posta adresinizi girmek.</p>

        <div class="d-flex gap-2 justify-content-center">
            <input type="text" id="e-mail" class="p-3 for-inp bg-transparent border border-1 border-secondary rounded-2" placeholder="E-posta adresi">
            <button class="btn btn-danger fs-4 fw-bold">Başlayın ></button>
        </div>
        
    </div>

</div>

<div class="cizgi"></div>
