{% load static %}

<header id="movie-header" class="position-relative">
  <nav class="navbar navbar-expand-lg navbar-dark p-0 position-sticky top-0 z-1" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
      <a class="navbar-brand p-0" href="{% url "movies_page" profile.slug %}">
        <img src="{% static "img/netflix_logo.png" %}" class="w-75" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
            {% for category in categories %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url "movies_type_page" profile.slug category.slug %}">{{ category.name }}</a>
              </li>
            {% endfor %}
          
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Türler
              </a>
              <ul id="turler-navbar" class="dropdown-menu bg-black bg-opacity-75">
                {% for genre in genres %}
                  <li>
                    <a class="dropdown-item" href="{% url "movies_type_page" profile.slug genre.slug %}">{{ genre.name }}</a>
                  </li>
                {% endfor %}                
              </ul>
            </li>
          </ul>

          <form action="{% url "movies_page" profile.slug %}" method="GET" class="d-flex mt-3 me-4 mt-lg-0" role="search">
            <input name="q" class="form-control bg-black text-white bg-opacity-25 border-dark" type="search" placeholder="Search" aria-label="Search">
            <button class="btn" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>

          <div class="dropdown text-start">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{ profile.image.url }}" alt="mdo" width="36" height="36" class="rounded-circle">
            </a>
            <ul class="dropdown-menu dropdown-menu-end bg-black bg-opacity-75 text-small" style="">
              {% for profil in profiles %}
              <li>
                <a class="dropdown-item text-white" href="{% url "movies_page" profil.slug %}">
                  <img src="{{ profil.image.url }}" alt="mdo" width="36" height="36" class="rounded-circle">
                  {{ profil.name }}
                </a>
              </li>
              {% endfor %}
              <li><a class="dropdown-item text-white" href="{% url "change_password_view" request.user.username %}">Change Password</a></li>
              <li><hr class="dropdown-divider w-100"></li>
              <li><a class="dropdown-item text-white" href="{% url "logout_page" %}">Sign out</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </nav>

  <div id="film-ismi" class="position-absolute top-50 ms-5">
    <h1 class="text-white fs-1">KORRA EFSANESİ</h1>
    <p class="text-white fs-5 w-75">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio hic, nobis alias nam neque nulla.</p>
    <button class="btn btn-light fs-5">
      <i class="fa-solid fa-play text-black"></i>
      Oynat
    </button>
    <button class="btn btn-secondary fs-5">
      <i class="fa-solid fa-circle-info"></i>
      Daha Fazla Bilgi
    </button>
  </div>



</header>